body{
    background-color: rgb(158, 144, 220);
}




#container1{
    width: 1440px;
    margin: 0px auto;
    background-image: url(photos/home-bg.png);
    background-repeat: no-repeat;
}

#container2{
    background-color: white;
    width: 1075px;
    height: 1600px;
    margin-left: 182.5px;
    margin-right: 182.5px;
    padding-top: 70px;
}
h1{
    font-size: 100px;
    text-align: center;
    color: rgb(77, 137, 17);
    background-color: white;
    margin-left: 182.5px;
    margin-right: 182.5px;
}
footer{
    display: flex;
    font-size: 40px;
    text-align: center; 
    list-style: none;
    padding-left: 340px;
    gap: 200px;
    background-color: rgb(124, 171, 104);;
}

footer li a{
    text-decoration: none;
}

footer a{
    color: white;
}
footer li a:hover{
    color: yellow;

}

footer li a.active{
    color:yellow;
}

#nav2{
    background-color: rgb(99, 110, 188);
    width: 1261px;
    height: 95px;
    display: flex;
    font-size: 40px;
    justify-content: center;
    list-style: none;
    gap: 200px;
    margin-left: 89.5px;
    margin-right: 89.5px;
}

#nav2 li a{
    text-decoration: none;
}

#nav2 a{
    color: white;
}

#nav2 li a:hover{
    color: yellow;

}

#nav2 li a.active{
    color: yellow;
}

.middle{
    background-color: white;
    width: 775px;
    margin: 0px auto;
    padding: 40px;
}

.image-center{
    width: 775px ;
    margin: 0px auto;
}

#loc-heading{
    color: rgb(124, 171, 104);
    font-size: 90px
}
#image{
    justify-content: center;
   
}

#loc-text{
    font-size: 50px
}

